In [2]:
import pandas as pd

df = pd.read_csv('blinkIT.csv')

In [21]:
df.head(10)

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.48,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.35,5.0
2,Regular,FDR28,Frozen Foods,2016,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.02,5.0
3,Regular,FDL50,Canned,2014,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.50,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.16,5.0
5,Low Fat,FDS52,Frozen Foods,2020,OUT017,Tier 2,Small,Supermarket Type1,0.005505,8.89,102.40,5.0
6,Low Fat,NCU05,Health and Hygiene,2011,OUT010,Tier 3,Small,Grocery Store,0.098312,11.80,81.46,5.0
7,Low Fat,NCD30,Household,2015,OUT045,Tier 2,Small,Supermarket Type1,0.026904,19.70,96.07,5.0
8,Low Fat,FDW20,Fruits and Vegetables,2014,OUT013,Tier 3,High,Supermarket Type1,0.024129,20.75,124.17,5.0
9,Low Fat,FDX25,Canned,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.101562,0.00,181.93,5.0

In [8]:
df.isnull().sum()

Item Fat Content                0
Item Identifier                 0
Item Type                       0
Outlet Establishment Year       0
Outlet Identifier               0
Outlet Location Type            0
Outlet Size                     0
Outlet Type                     0
Item Visibility                 0
Item Weight                  1463
Sales                           0
Rating                          0
dtype: int64

In [11]:
df.shape #check row and column

(8523, 12)

In [15]:
df['Item Fat Content'].unique() #check data consistency

array(['Regular', 'Low Fat', 'low fat', 'LF', 'reg'], dtype=object)

In [16]:
df['Item Fat Content'].value_counts() #check majority and minority

Item Fat Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

In [12]:
df['Item Weight'] = df['Item Weight'].fillna(0) #fill null space with 0

In [13]:
df.isnull().sum() #check for null value

Item Fat Content             0
Item Identifier              0
Item Type                    0
Outlet Establishment Year    0
Outlet Identifier            0
Outlet Location Type         0
Outlet Size                  0
Outlet Type                  0
Item Visibility              0
Item Weight                  0
Sales                        0
Rating                       0
dtype: int64

In [22]:
df.rename(columns={'Low Fat': 'LF'}, inplace=True)
df

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2016,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2014,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,low fat,NCT53,Health and Hygiene,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.000000,0.00,164.5526,4.0
8519,low fat,FDN09,Snack Foods,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.034706,0.00,241.6828,4.0
8520,low fat,DRE13,Soft Drinks,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.027571,0.00,86.6198,4.0
8521,reg,FDT50,Dairy,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.107715,0.00,97.8752,4.0
8522,reg,FDM58,Snack Foods,2018,OUT027,Tier 3,Medium,Supermarket Type3,0.000000,0.00,112.2544,4.0

In [9]:
df['Item Fat Content'] = df['Item Fat Content'].replace('LF', 'Low Fat')

In [10]:
df['Item Fat Content'].value_counts()

Item Fat Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64

In [5]:
df['Item Fat Content'] = df['Item Fat Content'].replace('low fat', 'Low Fat')

In [8]:
df['Item Fat Content'].value_counts()

Item Fat Content
Low Fat    5201
Regular    3006
LF          316
Name: count, dtype: int64

In [7]:
df['Item Fat Content'] = df['Item Fat Content'].replace('reg', 'Regular')

In [4]:
df['Item Fat Content'].value_counts()

Item Fat Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

In [3]:
df['Item Identifier'].value_counts()

Item Identifier
FDW13    10
FDG33    10
FDF56     9
FDF52     9
FDV38     9
         ..
FDK57     1
FDO33     1
DRF48     1
FDC23     1
FDE52     1
Name: count, Length: 1559, dtype: int64

In [11]:
for col in df.columns:
    print(f"Value counts for column: {col}")
    print(df[col].value_counts(dropna=False))  # shows counts including NaN
    print('-' * 30)

Value counts for column: Item Fat Content
Item Fat Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64
------------------------------
Value counts for column: Item Identifier
Item Identifier
FDW13    10
FDG33    10
FDF56     9
FDF52     9
FDV38     9
         ..
FDK57     1
FDO33     1
DRF48     1
FDC23     1
FDE52     1
Name: count, Length: 1559, dtype: int64
------------------------------
Value counts for column: Item Type
Item Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: count, dtype: int64
------------------------------
Value counts for column: Outlet Establishment Year
Outlet Establishment Year
2018    1463
2014     932
2012     930
2016     930
2017     930
2015     929
2022     928
2020     926
2011     555
Name: count, dtype: int64
------------------------------
Value counts for column: Outlet Identifier
Outlet Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: count, dtype: int64
------------------------------
Value counts for column: Outlet Location Type
Outlet Location Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: count, dtype: int64
------------------------------
Value counts for column: Outlet Size
Outlet Size
Medium    3631
Small     3139
High      1753
Name: count, dtype: int64
------------------------------
Value counts for column: Outlet Type
Outlet Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: count, dtype: int64
------------------------------
Value counts for column: Item Visibility
Item Visibility
0.000000    526
0.076975      3
0.037794      2
0.127930      2
0.121521      2
           ...
0.027344      1
0.022059      1
0.150853      1
0.018930      1
0.107715      1
Name: count, Length: 7880, dtype: int64
------------------------------
Value counts for column: Item Weight
Item Weight
NaN       1463
12.150      86
17.600      82
13.650      77
11.800      76
          ...
6.895        2
6.520        1
9.420        1
7.685        1
5.400        1
Name: count, Length: 416, dtype: int64
------------------------------
Value counts for column: Sales
Sales
172.0422    7
196.5768    6
109.5228    6
196.5084    6
142.0154    6
           ..
50.2666     1
178.3686    1
165.4868    1
36.2848     1
112.2544    1
Name: count, Length: 5938, dtype: int64
------------------------------
Value counts for column: Rating
Rating
4.0    3339
4.3     694
4.2     673
4.1     524
5.0     427
4.4     340
3.9     302
4.5     256
3.8     253
3.7     211
3.0     193
3.5     171
3.6     150
3.3     121
1.0     114
4.6     102
3.4      83
4.7      79
2.0      74
4.8      62
3.2      55
2.8      49
3.1      49
2.5      48
2.3      26
2.9      24
2.7      21
4.9      15
2.6      14
2.4      11
1.5      11
2.2       9
1.7       8
1.8       5
2.1       4
1.9       2
1.3       2
1.4       1
1.2       1
Name: count, dtype: int64
------------------------------

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item Fat Content           8523 non-null   object
 1   Item Identifier            8523 non-null   object
 2   Item Type                  8523 non-null   object
 3   Outlet Establishment Year  8523 non-null   int64
 4   Outlet Identifier          8523 non-null   object
 5   Outlet Location Type       8523 non-null   object
 6   Outlet Size                8523 non-null   object
 7   Outlet Type                8523 non-null   object
 8   Item Visibility            8523 non-null   float64
 9   Item Weight                8523 non-null   float64
 10  Sales                      8523 non-null   float64
 11  Rating                     8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [15]:
df.describe()

,Outlet Establishment Year,Item Visibility,Item Weight,Sales,Rating
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,2016.450546,0.066132,10.650590,140.992783,3.965857
std,3.189396,0.051598,6.431899,62.275067,0.605651
min,2011.000000,0.000000,0.000000,31.290000,1.000000
25%,2014.000000,0.026989,6.650000,93.826500,4.000000
50%,2016.000000,0.053931,11.000000,143.012800,4.000000
75%,2018.000000,0.094585,16.000000,185.643700,4.200000
max,2022.000000,0.328391,21.350000,266.888400,5.000000

In [23]:
df.to_csv('blinkIT.csv', index=False)

In [19]:
df['Sales'].nunique

<bound method IndexOpsMixin.nunique of 0       145.4786
1       115.3492
2       165.0210
3       126.5046
4        55.1614
          ...
8518    164.5526
8519    241.6828
8520     86.6198
8521     97.8752
8522    112.2544
Name: Sales, Length: 8523, dtype: float64>

In [20]:
df['Sales'] = df['Sales'].round(2)